{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="login-container">
    <h1>Login</h1>

    <form action="{% url 'login' %}" method="POST" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="submit-container">
        <input type="submit" value="Login" class="btn btn-primary">
        <div class="secondary-action">
          <span>Don't have an account?</span>
          <a href="{% url 'core:sign-up' %}" class="secondary-link">Sign Up</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
