{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="form-container">
    <h3>{% if project %}Update{% else %}Create{% endif %} Project</h3>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      {% if project %}
        <input type="Submit" class="btn btn-primary" value="Update">
      {% else %}
        <input type="Submit" class="btn btn-success" value="Create">
      {% endif %}
    </form>
  </div>
{% endblock %}
