{% extends "base.html" %}

{% block content %}
  <div class="grid">
    {% for task in task_list %}
      <div class="card">
        <h3>{{ task.name }}</h3>
        <p><strong>Deadline: </strong>{{ task.deadline }}</p>
        <p><strong>Priority: </strong>{{ task.get_priority_display }}</p>
        <p><strong>Description:<br></strong>{{ task.description }}</p>
        <p><strong>Task Type: </strong>{{ task.task_type.name }}</p>
        <p><strong>Project: </strong>{{ task.project.name }}</p>
        <p><strong>Worker: </strong>{{ task.worker.username }}</p>
        <p><strong>Status: </strong>not specified</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
