{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mt-3">
    <form method="get" action="" class="form-inline ml-4 mr-auto">
      {% for field in search_form %}
        {% if field != search_form.name %}
          {{ field|as_crispy_field }}
        {% else %}
          <div class="mt-4">
            {{ field|as_crispy_field }}
          </div>
        {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-secondary mt-2">🔍</button>
    </form>
    <a href="{% url 'core:task-create' %}" class="btn btn-success mr-4 mt-2">Create new</a>
  </div>

  <div class="grid">
    {% for task in task_list %}
      <div class="card">
        <h3>{{ task.name }}</h3>
        <p><strong>Deadline: </strong>{{ task.deadline }}</p>
        <p><strong>Priority: </strong>{{ task.get_priority_display }}</p>
        <p><strong>Description:<br></strong>{{ task.description }}</p>
        <p><strong>Task Type: </strong>{{ task.task_type.name }}</p>
        <p><strong>Project: </strong>{{ task.project.name }}</p>
        <p><strong>Assignee: </strong>{{ task.assignee.username }}</p>
        <p><strong>Status: </strong>
          {% if task.is_completed %}
            done✅
          {% elif task.deadline < now %}
            failed❌
          {% elif not task.assignee %}
            not specified
          {% else %}
            pending⌛
          {% endif %}
        </p>

        {% if user.is_superuser or task.assignee_id == user.id or task.created_by_id == user.id %}
          <div class="d-flex justify-content-end mt-auto">
            <div class="mr-auto">
              {% if not task.is_completed %}
                <form method="post" action="{% url 'core:task-mark-completed' pk=task.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">✔️</button>
                </form>
              {% endif %}
            </div>
            {% if user.is_superuser or task.created_by_id == user.id %}
              <div class="ml-auto">
                <a href="{% url 'core:task-update' pk=task.pk %}" class="btn btn-primary mr-1">Update</a>
                <a href="{% url 'core:task-delete' pk=task.pk %}" class="btn btn-danger">Delete</a>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
