.create-update-container {
  max-width: 75vh;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: #0f1d3a;
  border: 1px solid #cce3ff;
  border-radius: 1rem;
  color: #cce3ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.create-update-container h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto;
  text-align: center;
  gap: 1rem;
}
