<header class="header">
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="{% url 'core:index' %}">Home</a></li>
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Tasks</a></li>
      <li><a href="#">Workers</a></li>
      <li><a href="{% url 'core:project-list' %}">Projects</a></li>
    </ul>

    <ul class="nav-links nav-auth">
      {% if user.is_authenticated %}
        <li>Welcome, {{ user.username }}👋</li>
        <li>
          <form action="{% url 'logout' %}" method="POST"
                onsubmit="return confirm('Are you sure you want to log out?')">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
          </form>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a class="sign-up-link" href="{% url 'core:sign-up' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
